.home-container {
    position: absolute;
    display: flex;
    flex-direction: column;
    height: 90vh;
    width: 100%;
    align-items:center;
    /* filter: drop-shadow(1px 2px 1px rgba(0, 0, 0, 0.192)); */
}
.home-container a {
    color: var(--purple) !important;
}
.home-container a:hover {
    color: var(--purple-light) !important;
    text-decoration: underline !important;
}
.home-container input {
    border: 1px solid var(--off-black) !important;
    border-radius: 3px;
}

.home-container header {
    width: 100%;
    display: flex !important;
    flex-direction: column;
    align-items: center;
    justify-content: center !important;
}
.home-container header h1 {
    font-size: 600% !important;
    letter-spacing: 1px;
    filter: drop-shadow(0px 0px 100px rgba(255, 255, 255, 0.678));
    text-shadow: 1px 1px 2px rgba(0, 0, 0, 0.281);
}
.home-container header h1 strong {
    letter-spacing: 3px;
    filter: drop-shadow(1px 2px 1px black);
    color: var(--purple);
}
.logo {
    width: 375px;
    margin-top: -4%;
    margin-bottom: -3.5%;
    filter: drop-shadow(1px 2px 3px rgba(0, 0, 0, 0.219));
}
.search {
    width: 30%;
    min-width: 400px;
    margin-top: 0;
    display: flex;
    flex-direction: column;
    align-items: center;
}
.search label {
    text-align: center;
    width: 90%;
    margin: 10px;
}
.search input {
    width: 100%;
}
.home-container p {
    margin-top: 10px;
}

.delButton {
    width: 3em;
    height: 3em;
}