:root {
    --off-black: #2c373b;
    --off-white: #f8f8f8;
    --grey-light: #d4d7df;
    --grey-dark: #8b90a0;
    --green-light: #bef0d9;
    --green: #a9e2c8;
    --purple: #504771;
    --purple-light: #7e759d;
}

.contact-page-container h1 {
    font-weight: 700;
    letter-spacing: 3px;
    width: 100%;
    padding: 30px;
    margin-bottom: 15px;
    text-align: center;
    line-height: 1;
    text-decoration: underline;
    text-decoration-thickness: 3px;
    text-underline-offset: 17px;
}
.contact-page-container p {
    margin-top: -10px;
    width: 90%;
    text-align: center;
}

.contact-page-container {
    display: flex;
    justify-content: center;
}
.contact-content-box {
    margin-top: 45px;
    border-radius: 8px;
    filter: drop-shadow(2px 4px 5px rgba(0, 0, 0, 0.37));
    display: flex;
    flex-direction: row;
    width: 68%;
    margin-bottom: 45px;

}
.contact-side {
    overflow: hidden !important;
    height: 100%;
    width: 55%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-color: white;
    border-top-right-radius: 8px;
    border-bottom-right-radius: 8px;
    padding-bottom: 45px;
}
.contact-side h1 {

    font-weight: 700;
    letter-spacing: 3px;
    width: 100%;
    color: var(--off-white);
    filter: drop-shadow(0px 0px 100px white);
    text-shadow: 0px 0px 100px rgba(255, 255, 255, 0.671);
    background-color: var(--purple);
    padding: 30px 30px 45px 30px;
    margin-bottom: 15px;
    text-align: center;
    line-height: 1;
    text-decoration: underline;
    text-decoration-thickness: 3px;
    text-underline-offset: 17px;
}
.contact-side p {
    margin-top: 10px;
    margin-bottom: 0px;
    z-index: 100;
}


.contact-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 89%;
}
.contact-container h2 {
    margin-top: 25px;
    margin-bottom: -10px;
    font-weight: 700;
    letter-spacing: 5px;
    opacity: 90%;
    font-size: 310% !important;

    text-transform: uppercase;
}
.contact-divider {
    margin: 10px;
    margin-bottom: -5px;
}
.card-container {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    width: 100%;
}
.contact-info {
    border-top: none !important;
    outline: none !important;
    display: flex;
    margin-top: -10px;
    height: 100% !important;
    width: 100% !important;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
}
.contact-card h4 {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: auto;
    margin-top: 8px;
    letter-spacing: 1px;
    font-size: 235% !important;
    outline: 2px solid var(--grey-light);
    padding: 5px 15px;
    border-radius: 4px;

}
.contact-card p {
    text-align: center;
    margin: auto;
    transform: translate(40%, -40%);
    padding: 0 3px 0 3px;
    font-size: 80%;
    text-transform: uppercase;
    width: auto;
    color:#2c373bc0;
    background-color: white;
    z-index: 500;
}
.contact-card {
    margin: 10px;
    width: 40% !important;

    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;

}
.card-header {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    box-shadow: none !important;
    border-bottom: none;
}
.member-picture {
    display: flex;
    border-radius: 50%;
    width: 65%;
    height: 65%;
    margin: 3px 8px;
    filter: drop-shadow(1px 2px 2px rgba(0, 0, 0, 0.692));
}
.contact-card .divider {
    margin: 0 !important;
    margin-bottom: 5px;
    width: 90%;
    opacity: 70%;
}

.button-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    font-size: 250%;
    height: 100%;
    width: 45px;
    border-radius: 25px;

}
.button-container i {
    display: flex;
    transform: scale(0.9);
    justify-content: center;
    align-items: center;
    cursor: pointer;
    margin: 5px;
    border-radius: 50% !important;
    transition: filter 0.15s,
    transform 0.15s;

}
.button-container i:hover {
    filter: brightness(1.5);
    transform: scale(0.95);
}
.matthew {
    transform: translate(18%, -45%) !important;
}
.phub {
    position: absolute;
    display: flex;
    background-color: #2c373b !important;
    color: white !important;
    border-radius: 5px;
    padding: 3px 1px 3px 4px !important;
    font-size: 70% !important;
    font-weight: 900 !important;
    text-transform: none !important;
    transform: translate(26px, -52px) !important;
    box-shadow: 0px 0px 1px 2px white;
}
.hub {
    margin: 0 2px 0 2px;
    padding: 0 2px;
    border-radius: 3px;
    background-color: #ff9900;
    color: var(--off-black) !important;
}
.adam {
    transform: translate(89%, -40%) !important;
}
#email-button {
    width: 41px;
    height: 41px;
    font-size: 58%;
    color: var(--off-white);
    background-color: var(--off-black);
}
#github-button {
    width: 35px;
    height: 35px;
    font-size: 105%;
    color: var(--off-black);
    background-color: var(--off-white);
}
#linkedin-button {
    width: 41px;
    height: 41px;
    font-size: 58%;
    color: var(--off-white);
    background-color: var(--off-black);
}
.contactGroup {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    align-items: center;
}

.contactLink {
    text-decoration: none;
    font-size: 1em;
    color:rgb(140, 187, 141);
    transition: .6s;
    padding: 1em;
    padding-top: 2em;

}
.contact-banner-side {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 40%;
    height: 100%;
    background-color: var(--green);

    border-top-left-radius: 8px;
    border-bottom-left-radius: 8px;
}
.banner-side-text {
    position: absolute;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 480px;

    top:165px;
    z-index: 500;
}
.banner-side-text h1 {
    position: absolute;
    color: #463d66;
    text-decoration: underline !important;
    text-underline-offset: 3px !important;
    text-decoration-thickness: 2px !important;
    top: -275%;
    text-shadow: 1px 2px 2px rgba(0, 0, 0, 0.452);
}
.banner-side-text p {
    background-color: var(--green-light);
    width: 108%;
    font-size: 90%;
    transform: translateY(-90px);
    padding: 62.5px 35px 20px 35px;

}
.contact-banner-side h1 {
    transform: translateY(300px);
    margin-bottom: 40px;
    font-size: 500% !important;
    text-decoration: none !important;
    letter-spacing: 1px;
    width: auto;
    padding: 0px 20px;
    border-radius: 15px;
    z-index: 5;

}
.contact-banner-side h1 strong {
    letter-spacing: 3px;
    filter: drop-shadow(1px 2px 1px black);
    
    color: var(--purple);
}
.contact-logo {
    position: absolute;
    bottom: 70px;
    z-index: 2;
    height: 500px;
    width: 500px;
}
.contact-banner-bg {
    position: absolute;
    width: 40%;
    height: 100%;
    background-color: var(--green-light);
    border-top-left-radius: 8px;
    clip-path: polygon(0 65%, 100% 11%, 100% 0, 0 0);
}