:root {
    --off-black: #2c373b;
    --off-white: #f8f8f8;
    --grey-light: #d4d7df;
    --grey-dark: #8b90a0;
    --green-light: #bef0d9;
    --green: #a9e2c8;
    --purple: #504771;
    --purple-light: #7e759d;
}

.register-page-container {
    display: flex;
    justify-content: center;
}
.register-page-container a {
    color: var(--purple);
}
.register-page-container a:hover {
    color: var(--purple-light);
}
.register-page-container input:focus {
    outline: none !important;
    border: 1px solid var(--off-black) !important;
    box-shadow: 0px 0px 2px 2px #9f97bd !important;
}
.register-content-box {
    margin-top: 45px;
    border-radius: 8px;
    filter: drop-shadow(2px 4px 5px rgba(0, 0, 0, 0.37));
    display: flex;
    flex-direction: row;
    width: 800px;
    height: 650px;
}
.register-side {
    height: 100%;
    width: 50%;
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: white;
    border-top-right-radius: 8px;
    border-bottom-right-radius: 8px;
}
.register-side h1 {
    font-weight: 700;
    letter-spacing: 3px;
    width: 100%;
    padding: 30px;
    margin-bottom: 15px;
    text-align: center;
    line-height: 1;
    text-decoration: underline;
    text-decoration-thickness: 3px;
    text-underline-offset: 17px;
}
.register-side p {
    margin-bottom: 20px;
}
.register-form {
    width: 80%;
}
.label {
    margin-top: 8px !important;
    margin-bottom: 4px !important;
}
.register-button-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    
    margin-top: 15px;
}
.register-button {
    width: 100%;
    height: 42px;
    margin-top: 20px;
    margin-bottom: 10px;
    border: none;
    cursor: pointer;
    background-color: var(--purple);
    font-family: 'Poppins';
    color: var(--off-white);
    font-weight: 900;
    letter-spacing: 1px;
    border-radius: 5px;
    transition: filter 0.2s;
}
.register-button:hover {
    filter: brightness(1.2);
}
.register-button:active {
    filter: brightness(1.4);
}
.register-button:focus {
    outline: none;
}
.divider {
    width: 100%;
    margin-top: 20px;
    margin-bottom: 20px;
    height: 1px;
    background: rgb(255,255,255);
    background: linear-gradient(270deg, rgba(255,255,255,0) 0%, rgba(0,0,0,0.4234068627450981) 50%, rgba(255,255,255,0) 100%);
}
.register-banner-side {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 50%;
    height: 100%;
    background-color: var(--green);
    
    border-top-left-radius: 8px;
    border-bottom-left-radius: 8px;
}
.register-banner-side h1 {
    font-size: 600% !important;
    letter-spacing: 1px;
    filter: drop-shadow(0px 0px 100px rgba(255, 255, 255, 0.678));
}
.register-banner-side h1 strong {
    letter-spacing: 3px;
    filter: drop-shadow(1px 2px 1px black);
    color: var(--purple);
}
.register-logo {
    position: absolute;
    margin-top: -50px;
    z-index: 2;
    height: 500px;
}
.register-banner-bg {
    position: absolute;
    width: 50%;
    height: 100%;
    background-color: var(--green-light);
    border-top-left-radius: 8px;
    clip-path: polygon(0 65%, 100% 11%, 100% 0, 0 0);
}